.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 50px;
  box-sizing: border-box;
  color: #fff;
  flex-shrink: 0;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.2rem;
}

.profile-icon {
  font-size: 1.8rem;
}

.system-icons {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.9);
}

.clock {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}
.profile-link {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #fff;
  text-decoration: none; /* Removes the underline */
  transition: transform 0.2s ease;
}
.profile-link:hover {
  transform: scale(1.05); /* Adds a subtle hover effect */
}